<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudio</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, accusamus! Maxime doloremque quo voluptatum quidem ratione eveniet eligendi at exercitationem commodi deleniti sed pariatur, delectus nesciunt eius earum, ab deserunt.
            </p>
        </ul>
    </div>
</div>

