<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Portafolio</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sequi laudantium laboriosam voluptatibus doloremque aut esse perspiciatis illo ipsa explicabo, possimus, animi iste, reiciendis quaerat! Doloremque esse similique eius aspernatur.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="poner iman del proyecto" alt="">
        </div>
    </div>
</div>
