<div class="row">
    <h1>Hard & soft skills</h1>
    <div class="text-center col-sm-4 col md-4 col-l4">
    <circle-progress
  [percent]="10" 
  [radius]="80"
  [showUnits]="false"
  [title]="'HTML'"
  [titleColor]="'#ff084a'"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#ff6289'"
  [innerStrokeColor]="'#ffc2cd'"
  [animation]="true"
  [animationDuration]="600"
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col md-4 col-l4">
        <circle-progress
      [percent]="10" 
      [radius]="80"
      [showUnits]="false"
      [title]="'HTML'"
      [titleColor]="'#ff084a'"
      [titleFontSize]="'2em'"
      [showSubtitle]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#ff6289'"
      [innerStrokeColor]="'#ffc2cd'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col md-4 col-l4">
            <circle-progress
          [percent]="10" 
          [radius]="80"
          [showUnits]="false"
          [title]="'HTML'"
          [titleColor]="'#ff084a'"
          [titleFontSize]="'2em'"
          [showSubtitle]="false"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="5"
          [outerStrokeColor]="'#ff6289'"
          [innerStrokeColor]="'#ffc2cd'"
          [animation]="true"
          [animationDuration]="600"
        ></circle-progress>
            </div>
            <div class="text-center col-sm-4 col md-4 col-l4">
                <circle-progress
              [percent]="10" 
              [radius]="80"
              [showUnits]="false"
              [title]="'HTML'"
              [titleColor]="'#ff084a'"
              [titleFontSize]="'2em'"
              [showSubtitle]="false"
              [outerStrokeWidth]="10"
              [innerStrokeWidth]="5"
              [outerStrokeColor]="'#ff6289'"
              [innerStrokeColor]="'#ffc2cd'"
              [animation]="true"
              [animationDuration]="600"
            ></circle-progress>
                </div>
                <div class="text-center col-sm-4 col md-4 col-l4">
                    <circle-progress
                  [percent]="10" 
                  [radius]="80"
                  [showUnits]="false"
                  [title]="'HTML'"
                  [titleColor]="'#ff084a'"
                  [titleFontSize]="'2em'"
                  [showSubtitle]="false"
                  [outerStrokeWidth]="10"
                  [innerStrokeWidth]="5"
                  [outerStrokeColor]="'#ff6289'"
                  [innerStrokeColor]="'#ffc2cd'"
                  [animation]="true"
                  [animationDuration]="600"
                ></circle-progress>
                    </div>
                    <div class="text-center col-sm-4 col md-4 col-l4">
                        <circle-progress
                      [percent]="10" 
                      [radius]="80"
                      [showUnits]="false"
                      [title]="'HTML'"
                      [titleColor]="'#ff084a'"
                      [titleFontSize]="'2em'"
                      [showSubtitle]="false"
                      [outerStrokeWidth]="10"
                      [innerStrokeWidth]="5"
                      [outerStrokeColor]="'#ff6289'"
                      [innerStrokeColor]="'#ffc2cd'"
                      [animation]="true"
                      [animationDuration]="600"
                    ></circle-progress>
                        </div>

</div>
